
@{
    ViewBag.Title = "AddCategory";
}

<h2>Add Category</h2>

<form action="" method="post">
    <input type="text" name="Name" placeholder="Type category name" class="form-control" />

    
    <input type="submit" value="Add" class="btn btn-success" />
</form>