
@{
    ViewBag.Title = "CategoryDetails";
}

<h2>CategoryDetails</h2>

<table class="table table-bordered bg-info">
    <tr>
        <td>ID</td>
        <td>:</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>@Model.Name</td>
    </tr>


</table>