
@{
    ViewBag.Title = "UpdateCategory";
}

<h2>Update Category</h2>

<form action="" method="post">

    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
  
    <input type="submit" value="Edit" class="btn btn-success" />
</form>