
@{
    ViewBag.Title = "NewsDetails";
}

<h2>News Details</h2>

<table class="table table-bordered bg-info">
    <tr>
        <td>ID</td>
        <td>:</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>:</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>:</td>
        <td>@Model.CategoryID</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>:</td>
        <td>@Model.Date</td>
    </tr>


</table>